/* REGOLE GENERALI  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    cursor: pointer;
}

/* HEADER */

.nav {
    background-color: rgb(221, 204, 231);
    height: 50px;
}

.container {
    text-align: center;
}

.link {
    color: white;
    font-size: 40px;
}


/* MAIN */